$menuText:#07e6ed;
.time{
  position:absolute;
  top:20px;
  left:16px;
  font-size:14px;
  color:#EAA551;
  padding-left:18px;
  i{
      display:block;
      width:9px;
      height:4px;
      background:#EAA551;
      position:absolute;
      top:50%;
      left:0;
      transform:translate(0,-50%);
  }
}
.marker-box{
  width:100%;
  height:100%;
  background:#fff;
}
//救护车辆信息
.custom-info{
  position: relative;
  min-width:25vh;
  padding:2vh;
  background:rgba(22,73,131,0.7);
  color:#fff;
  border-radius:1vh;
  .triangle_border_left{
      width:0;
      height:0;
      border-width:1vh 1vh 1vh 0;
      border-style:solid;
      border-color:transparent rgba(22,73,131,0.7) transparent transparent;/*透明 灰 透明 透明 */
      position: absolute;
      left:-1vh;
      top:50%;
      transform:translate(0,-50%)
  }

  .title{
    width:100%;
    font-size:1.7vh;
    margin-bottom:1.5vh;
  }
  p{
    position: relative;
    margin:0;
    font-size:1.5vh;
    padding-left:2vh;
    box-sizing:border-box;
    margin-bottom:1vh;
    span{
      color:#d73147;
      margin-left:0.5vh;
    }
    &:last-child{
      margin-bottom:0;
    }
    i{
      position: absolute;
      top:50%;
      left:0;
      transform:translate(0,-50%);
      width:1vh;
      height:1vh;
      border-radius:50%;
      background:#d73147;
    }
  }
}
.charts-border-box{
    position:relative;
    //background:-webkit-linear-gradient(bottom,#1c338b,rgba(10,26,41,0));
    background:rgba(5,27,74,0.8);
    border:1px solid rgba(10,67,188,1);
    box-shadow:inset 4px 4px 20px rgba(0,229,255,0.3), inset -4px -4px 20px rgba(0,229,255,0.3);
    .heng-line{
      position:absolute;
      width:14px;
      height:1px;
      background:$menuText;
    }
    .shu-line{
      position:absolute;
      width:1px;
      height:14px;
      background:$menuText;
    }
    .top-left-box{
      position:absolute;
      top:0px;
      left:0px;
      .heng-line{
        top:0;
        left:0;
      }
      .shu-line{
        left:0;
        top:0;
      }
    }
    .top-right-box{
      position:absolute;
      top:0px;
      right:0px;
      .heng-line{
        top:0;
        right:0;
      }
      .shu-line{
        right:0;
        top:0;
      }
    }
    .bottom-left-box{
      position:absolute;
      left:0px;
      bottom:0px;
      .heng-line{
        bottom:0;
        left:0;
      }
      .shu-line{
        left:0;
        bottom:0;
      }
    }
    .bottom-right-box{
      position:absolute;
      right:0px;
      bottom:0px;
      .heng-line{
        bottom:0;
        right:0;
      }
      .shu-line{
        right:0;
        bottom:0;
      }
    }
  }