$menuText:#07e6ed;
//救护车辆信息
.charts-border-box{
    position:relative;
    //background:-webkit-linear-gradient(bottom,#1c338b,rgba(10,26,41,0));
    background:rgba(5,27,74,0.8);
    border:1px solid rgba(10,67,188,1);
    box-shadow:inset 4px 4px 20px rgba(0,229,255,0.3), inset -4px -4px 20px rgba(0,229,255,0.3);
    .heng-line{
      position:absolute;
      width:14px;
      height:1px;
      background:$menuText;
    }
    .shu-line{
      position:absolute;
      width:1px;
      height:14px;
      background:$menuText;
    }
    .top-left-box{
      position:absolute;
      top:0px;
      left:0px;
      .heng-line{
        top:0;
        left:0;
      }
      .shu-line{
        left:0;
        top:0;
      }
    }
    .top-right-box{
      position:absolute;
      top:0px;
      right:0px;
      .heng-line{
        top:0;
        right:0;
      }
      .shu-line{
        right:0;
        top:0;
      }
    }
    .bottom-left-box{
      position:absolute;
      left:0px;
      bottom:0px;
      .heng-line{
        bottom:0;
        left:0;
      }
      .shu-line{
        left:0;
        bottom:0;
      }
    }
    .bottom-right-box{
      position:absolute;
      right:0px;
      bottom:0px;
      .heng-line{
        bottom:0;
        right:0;
      }
      .shu-line{
        right:0;
        bottom:0;
      }
    }
  }